%h2
  Edit #{resource_name.to_s.humanize}
= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!
  .row
    .form-group.col-md-4
      = f.label :email
      %br/
      = f.email_field :email
  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    %div
      Currently waiting confirmation for: #{resource.unconfirmed_email}
  .row
    .form-group.col-md-4
      = f.label :password
      %i (leave blank if you don't want to change it)
      %br/
      = f.password_field :password
  .row
    .form-group.col-md-4
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
  .row
    .form-group.col-md-4
      = f.label :current_password
      %i (we need your current password to confirm your changes)
      %br/
      = f.password_field :current_password
  .actions
    = f.submit "Update", class: "btn btn-primary"
= link_to "Back", :back
