%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!
  .row
    .form-group.col-md-4
      = f.label :email
      %br/
      = f.email_field :email
  .row
    .form-group.col-md-4
      = f.label :password
      - if @minimum_password_length
        %em
          (#{@minimum_password_length} characters minimum)
      %br/
      = f.password_field :password
  .row
    .form-group.col-md-4
      = f.label :password_confirmation
      %br/
      = f.password_field :password_confirmation
  .actions
    = f.submit "Sign up"
= render "devise/shared/links"
