%p
  %strong name:
  = comment.name
%p
  %strong Comment:
  = comment.body
-if user_signed_in?
  %p
    = link_to 'Edit', edit_post_comment_path(@post,comment) if can? :update, User
    = link_to 'Delete', [comment.post, comment],method: :delete if can? :destroy, User
