%h1 Edit Comment
= form_with(model: [ @post, @post.comments.find(params[:id]) ], local: true) do |form|
  %p
    = form.label :name
    %br/
    = form.text_field :name
  %p
    = form.label :comment
    %br/
    = form.text_area :body
  %p
    = form.submit
= link_to 'Back', post_path(@post)
