-if user_signed_in?
  =link_to 'New post', new_post_path if can? :create, User
%h1 Listing Posts
= will_paginate @posts
%table
  %tr
    %th Title
    %th Summary
    %th 
  -@posts.each do |post|
    %tr
      %td 
        = post.title
      %td
        = post.summary
      %td
        = link_to 'Show', post_path(post) if can? :read, User
      -if user_signed_in?
        %td
          =  link_to 'Edit ', edit_post_path(post) if can? :update, User
        %td
          = link_to 'Delete', post_path(post),method: :delete if can? :destroy, User
