%p
  %strong Title:
  = @post.title
%p
  %strong summary:
  = @post.summary
%h2 Comments
= render @post.comments
-if user_signed_in?
  %p
    = link_to 'New Comment', new_post_comment_path(@post.id) if can? :create, User
  = link_to 'Edit Post', edit_post_path(@post) if can? :update, User
= link_to 'Back', posts_path
