<!DOCTYPE html>
<html>
  <head>
    <title>MY-BLOG</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
  </head>

  <body>
  <nav style="text-align:right;">
  <% if user_signed_in? %>
    Logged in as <strong><%= current_user.email %></strong>.<br/>
    <%= link_to "Edit profile", edit_user_registration_path %>
    <%= link_to "Logout", destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
  </nav>
  <% flash.each do |type, msg| %>
    <div>
      <%= msg %>
    </div>
  <% end %>
  <div id="main-container" class="container">
    <%= yield %>
  </div>
</body>
</html>
